nav ul{
    display: flex;
    list-style-type: none; 
    gap: 20px;
    justify-content: center;   
  

}

ul li a{
    text-decoration: none;   
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

ul li a:hover{
    background-color: lightgray;
    color: black;
}

body{
    font-family: sans-serif;
   
}