.container {
    background-color: rgb(182, 211, 220);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day-special {
    /* position: absolute; */
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    /* background-color: rgb(218, 147, 71); */
}

.day {
    position: relative;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.day:nth-child(7n+2) {
    background-color: rgb(218, 147, 71);
}

.day:nth-child(7n+1) {
    background-color: rgb(218, 147, 71);
}

.day:hover {
    position: relative;
    color: transparent;
}

.day:hover::after {    
    content: " Shit! try again?";   
    color: rgb(130, 22, 22);   
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.day-special:hover {    
    color: transparent;
}

.day-special:hover::after {    
    content: "Love You";
    font-size: xx-large;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(255, 42, 0);
    padding: 30px;
    border-radius: 5%;
}

.huhaha {
    color: red;
    font-style: italic;

}

.start {
    text-align: center;
}

.day-name{
    display: flex;
    position:static; 
    text-align: center;
    padding: 20px;
}